<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> nuevo paciente</h1>
    <form method="post" action="">
        <p>Nombre: <input type="text" name="nombre"  /></p>
        <p>Apellido: <input type="text" name="apellido"  /></p>
        <p>Tipo identificacion:
            <select name="ti" >
                <option>"TI"</option>
                <option>"CC"</option>
            </select>
        </p>
        <P> Numero identificacion:
            <input type="text" name="ni" />
        </P>
        <p> Altura: 
            <input type="text" name="al" />
        </p>
        <p>Tipo identificacion:
            <select name="ti" >
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
            </select>
        </p>
        <button type="submit">
            Guardar
        </button>
    </form> 

</body>
</html>